* {
  box-sizing: border-box;
}

body {
	padding: 200px 0;
}

.root{
	
	display: flex;
	justify-content: center;

}

.table-wr {
	position: relative;

	display: inline-block;
	flex-shrink: 0;
}


.table {
	table-layout: fixed;

	margin: 0 auto;

	border: 1px solid  #48aae6;
}

.table-cell,
.button {
	width: 50px;
	height: 50px;
}

 
.table-cell {	
	max-width: 50px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;

	background-color: #48aae6;
}

.button {
	position: absolute;

	display: block;
	
	color: #ffffff;

	border: none;
	background-position: 20px 24px, 24px 20px;
	background-repeat: no-repeat;
}

.button-add {
	background-color: #f3a500;
	background-image: url('img/minus.png'), url('img/plus.png');
	
}

.button-add:hover {
	background-color: #f6c052;
}

.add-column {
	top: 0;
	right: -52px;
}

.add-row {
	bottom: -52px;
	left: 0;
}


.remove-column {
	top: -52px;	
	margin-bottom: 2px;	
}

.remove-row {
	left: -52px; 
} 

.button-remove {
	display: none;
	font-size: 30px;
	background-image: url('img/minus.png');
	background-color: #b20000;
	transition: all 0.2s linear 0s; 
}

.button-remove:hover {
	background-color: #ca4c49;
}





