body {
	padding: 200px 0;
}

#root{
	 
	text-align: center;

}

.table-wr {
	position: relative;

	display: inline-block;
}

.table {
	margin: 0 auto;

	border: 1px solid  #48aae6;
}

  .table-wr:hover .button-remove {
 	display: block;
 } 
 
.table-cell {
	width: 50px;
	height: 50px;

	background-color: #48aae6;
}

.button {
	position: absolute;

	display: block;

	height: 50px;
	width: 50px;

	
	border: none;
}

.button-add {
	background-color: #f3a500;
	background-image: url('img/minus.png'), url('img/plus.png');
	background-position: 20px 24px, 24px 20px;
	background-repeat: no-repeat;
}

.button-add:hover {
	background-color: #f6c052;
}

.add-column {
	top: 0;
	right: -52px;
}

.add-row {
	bottom: 48px;
	left: 0;
}

.button-remove {
	

	display: none;	

	transition: all 0.2s linear 0s;
}



.remove-column {

	margin-top: -52px;
	
}


.remove-row {
	margin-left: -52px;
}

.buttons:hover {
	background-color: #ca4c49;
}

.over {
	height: 100px;
	width: calc(100% + 100px);
	margin-left: -50px;	

	/*background-color: red;*/
}


.root-child {
	display: inline-block;	
}

.but-wr {
	margin-top: -52px;
	display: block;

	height: 52px;
	width: 52px;

	border: none;
	background-color: transparent;
	transition: all 0.2s linear 0s;
}

.but-wr-l {
	margin-left: -52px;	
}

.buttons {
	display: none;	

	background-color: #b20000;
	background-image: url('img/minus.png');
	background-position: 20px 24px;
	background-repeat: no-repeat;
	transition: all 0.2s linear 0s; 
	
}

.side {
	width: 100px;

	/*background-color: aqua;*/
}

.wr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	-ms-align-items: stretch;
	align-items: stretch;
}



